on early-init
    start ueventd

on init
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /vendor/lib:/system/lib
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc

    mkdir /sdcard
    mkdir /emmc
    mkdir /system
    mkdir /data
    mkdir /cache
    mkdir /efs
    mkdir /tmp
    mkdir /mnt 0775 root root
    mkdir /mnt/.lfs 0775 root root
    #mount /tmp /tmp tmpfs   

on early-fs
	mount ext4 /dev/block/mmcblk0p9 /system wait ro
	mount ext4 /dev/block/mmcblk0p10 /data nosuid nodev noatime wait

	mkdir /data/log 0777

	chmod 0666 /dev/log/radio
	chmod 0666 /dev/log/main
	chmod 0666 /dev/log/event    

	mount ext4 /dev/block/mmcblk0p10 /data remount ro

	insmod /system/lib/modules/j4fs.ko
	mount j4fs /dev/block/mmcblk0p4 /mnt/.lfs ro

on boot
# CPU Frequency Governor
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor powersave
	
	ifup lo
	hostname localhost
	domainname localdomain

	class_start default

service debuggerd /system/bin/debuggerd

service ueventd /sbin/ueventd
    critical

service console /system/bin/sh
    console

service playlpm /system/bin/playlpm
    user root

service immvibed /system/bin/immvibed 
    oneshot

service lpmkey /system/bin/lpmkey
    user root

# adbd is controlled by the persist.service.adb.enable system property
service adbd /sbin/adbd
    disabled

# Always start adbd on userdebug and eng builds
# In recovery, always run adbd as root.
on property:ro.debuggable=1
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04e8
    write /sys/class/android_usb/android0/idProduct 6860
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/enable 1
    write /sys/class/android_usb/android0/iManufacturer $ro.product.manufacturer
    write /sys/class/android_usb/android0/iProduct $ro.product.model
    write /sys/class/android_usb/android0/iSerial $ro.serialno
    start adbd
    setprop service.adb.root 1

# Restart adbd so it can run as root
on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1
